@import "vars";
@import "fonts";
@import "reset";

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

/* SIDEBAR */

@import "blocks/sidebar.scss";
