main {
  padding-top: 100px;
  padding-left: $sidebar-width;
}

// span {
//   display: block;
//   border: 10px solid transparent;
//   border-top: 10px solid #c3d;
//   // border-bottom: 10px solid #c3d;
//   // border-left: 10px solid #000;
//   // border-right: 10px solid #03d;
//   width: 20px;
//   height: 20px;
// }

// .span {
//   display: block;
//   border: 10px solid #3c3;
//   border-top: 10px solid transparent;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   border-radius: 10px;
//   transform: rotate(90deg);
//   position: relative;
//   &:after {
//     content: "";
//     display: block;
//     position: absolute;
//     background-color: red;
//     width: 2px;
//     height: 2px;
//     border-radius: 50%;
//     top: -3px;
//     left: calc(-6px - 1px);
//   }
// }

.stories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  // max-width: 60rem;
  width: 100%;
  &_item {
    position: relative;
    margin-right: 0.5rem;
    box-shadow: 3px -3px 10px 0 rgba($color: #000000, $alpha: 0.5);

    &:last-child {
      margin-right: 0;
    }
    .stories_title {
      width: 11rem;
      height: 4rem;
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .stories_date {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    img {
      display: block;
      border-radius: 0.5rem;
    }
  }
}
