<header class="header">
  <div class="header_left">
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a href="#" class="nav_link">Home</a></li>
        <li class="nav_item">
          <a href="#" class="nav_link has-subnav">Blog</a>
          <ul class="subnav">
            <li><a href="#" class="sub_nav_link">Design</a></li>
            <li><a href="#" class="sub_nav_link">React</a></li>
            <li><a href="#" class="sub_nav_link">NextJs</a></li>
          </ul>
        </li>
        <li><a href="#" class="nav_link">About</a></li>
        <li><a href="#" class="nav_link">Marketing</a></li>
      </ul>
    </nav>
  </div>
  <div class="header_right">
    <ul class="nav_list">
      <li><a href="#" class="nav_link">Profile</a></li>
      <li><a href="#" class="nav_link">Sign out</a></li>
    </ul>
    <form class="search" action="/" method="post">
      <input class="search_input" type="text" placeholder="Search" />
    </form>
  </div>
</header>
