<aside class="sidebar">
  <div class="sidebar__header">
    <img src="../assets/images/sidebar-header.jpg" alt="developer bureau" />
  </div>
  <div class="sidebar__profile">
    <img
      class="profile_foto"
      src="https://picsum.photos/200"
      alt="profile foto"
    />
    <h1 class="profile_name">Khachatur Hovsepyan</h1>
    <h2 class="profile_short_desc">Front-end Developer</h2>
    <div class="profile_social_media">
      <a href="#" target="_blank">
        <img src="../assets/images/instagram.svg" alt="instagram account" />
      </a>
      <a href="#" target="_blank">
        <img src="../assets/images/vk.svg" alt="vk account" />
      </a>
      <a href="#" target="_blank">
        <img src="../assets/images/pinterest.svg" alt="pinterest account" />
      </a>
    </div>
    <p class="profile_description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ullam
      minima hic recusandae commodi omnis, iusto debitis quia illo enim? Hic
      fugiat modi illo magnam, aspernatur sint facilis omnis optio?
    </p>
  </div>
  <div class="sidebar__footer">
    <a href="#" class="btn">Projects</a>
    <button href="#" class="btn blue">Contact me</button>
  </div>
</aside>
